body {
  background-color: lightgray;
}
.General {
  display: block;
}
.img {
  height: 1000px;
  width: 1000px;
  background-color: coral;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.img img {
  clip-path: circle(40% at 47% 40%);
  margin-top: 150px;
  margin-left: 150px;
  height: 800px;
  background-color: coral;
}
.hello {
  font-size: xxx-large;
  transform: translateX(1080px) translateY(-600px);
  position: absolute;
  text-align: right;
  width: 800px;
  margin-right: 20px;
}
.hello p {
  color: coral;
}