body {
  background: linear-gradient(45deg, #4a5460, #1a202a);
}
.General {
  display: block;
}
.img {
  height: 1000px;
  width: 1000px;
  background: linear-gradient(30deg, #fd8844, #2e258b , #e74541);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.img img {
  clip-path: circle(40% at 47% 40%);
  margin-top: 150px;
  margin-left: 150px;
  height: 800px;
  transform: translateX(30px);
  background: transparent;
}
.hello {
  font-size: xxx-large;
  transform: translateX(1080px) translateY(-600px);
  position: absolute;
  text-align: right;
  width: 800px;
  margin-right: 20px;
}
.hello h1 {
  color: white;
}
.hello p {
  color: #dcb547;
}