.cards {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 480px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(30deg, #fd8844, #2e258b , #e74541);
}
.upContent {
    color: black;
}
.content {
    padding: 20px;
    color: white;
}
.card img {
    margin-left: 180px;
    margin-top: 10px;
}
.content h3 {
    margin-bottom: 10px;
}
.btn {
    margin-top: 30px;
}